<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.login.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <display-name>Login_v3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>com.login.menu.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autentica</display-name>
    <servlet-name>Autentica</servlet-name>
    <servlet-class>com.login.autentica.Autentica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autentica</servlet-name>
    <url-pattern>/Autentica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teste</display-name>
    <servlet-name>teste</servlet-name>
    <servlet-class>com.login.menu.teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teste</servlet-name>
    <url-pattern>/teste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.login.autentica.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>